<div *ngIf="video!=null" class="container">
  <div fxFlex class="player">
    <video autoplay controls name="media" [src]="videoLocation">
    </video>
  </div>
  <p fxFlex="20%" class="mat-h3"class="mat-h3">Filename: {{video.filename}}</p>
</div>
<app-browser initPath='/video'></app-browser>
