<button md-icon-button class="edit" (click)="editToogle()">
  <md-icon>mode_edit</md-icon>
</button>
<md-list *ngIf="!edit">
  <md-list-item>
    <p>Filename: {{picture.filename}}</p>
  </md-list-item>
  <md-list-item>
    <p>Location: {{picture.location}}</p>
  </md-list-item>
  <md-list-item>
    <p>Type: {{picture.type}}</p>
  </md-list-item>
  <md-list-item>
    <p>Size: {{picture.size}}</p>
  </md-list-item>
  <md-list-item>
    <p>Date: {{picture.date}}</p>
  </md-list-item>
  <md-list-item>
    <p>Description: {{picture.description}}</p>
  </md-list-item>
</md-list>
<md-list *ngIf="edit">
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="inputFilename" mdInput placeholder="File name">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <textarea [(ngModel)]="description" mdInput placeholder="Description"></textarea>
    </md-input-container>
  </md-list-item>
</md-list>
<button *ngIf="edit" md-button (click)="update()">Save</button>
<button md-button (click)="close()">Close</button>
