/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.list-item{
  margin-bottom: 10px;
  padding: 5px !important;
  box-shadow: 5px 5px 2px grey;
}
body{
  margin: 0;
}
.right{
  float: right;
}

.center{
  width: 80%;
  margin: 0 auto;
}

