<md-nav-list class="center">
  <span>
    <button md-button class="breadcrumb" routerLink="/"><md-icon>home</md-icon></button>
  </span>
  <span *ngIf="topFolder!=null">
    <button md-button class="breadcrumb" (click)="goToBreadcrumb(crumb)" *ngFor="let crumb of topFolder"> / {{crumb}}</button>
  </span>
  <div *ngFor="let file of filesList">
    <app-list-item [listItem]= file ></app-list-item>
  </div>
</md-nav-list>

