<div class="container" fxLayout>
  <md-list-item fxFlex="95%" (click)="openItem()">
    <md-icon md-list-icon="">{{icon}}</md-icon>
    <h3 md-line class="mat-h3">{{ listItem.filename }}</h3>
  </md-list-item>
  <button md-icon-button fxFlex="5%" class="options" [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="openProperties()">
      <md-icon>info</md-icon> Properties
    </button>
    <button md-menu-item (click)="deleteItem()">
      <md-icon>delete_forever</md-icon> Delete
    </button>
  </md-menu>
</div>
