<div *ngIf="music!=null" class="container"
     fxLayout
     fxLayout.xs="column">
  <p fxFlex="20%" class="mat-h3"class="mat-h3">Filename: {{music.filename}}</p>
  <div fxFlex class="player">
    <audio autoplay controls name="media" [src]="musicLocation">
    </audio>
  </div>
</div>
<app-browser initPath='/music'></app-browser>
