<button md-icon-button class="edit" (click)="editToogle()">
  <md-icon>mode_edit</md-icon>
</button>
<md-list *ngIf="!edit">
  <md-list-item>
    <p>Filename: {{video.filename}}</p>
  </md-list-item>
  <md-list-item>
    <p>Location: {{video.location}}</p>
  </md-list-item>
  <md-list-item>
    <p>Type: {{video.type}}</p>
  </md-list-item>
  <md-list-item>
    <p>Size: {{video.size}}</p>
  </md-list-item>
  <md-list-item>
    <p>Date: {{video.date}}</p>
  </md-list-item>
  <md-list-item>
    <p>Director: {{video.director}}</p>
  </md-list-item>
  <md-list-item>
    <p>Actors: {{video.actors}}</p>
  </md-list-item>
  <md-list-item>
    <p>Genre: {{video.genre}}</p>
  </md-list-item>


</md-list>
<md-list *ngIf="edit">
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="inputFilename" mdInput placeholder="File name">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="director" mdInput placeholder="Director">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="actors" mdInput placeholder="Actors">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="genre" mdInput placeholder="Genre">
    </md-input-container>
  </md-list-item>
</md-list>
<button *ngIf="edit" md-button (click)="update()">Save</button>
<button md-button (click)="close()">Close</button>
