/* --------------------------------------------- \\
// Ovdje ima zmajeva. Bolje da ne dirate ništa.  \\
// --------------------------------------------- */

/* Clearfix metoda za čišćenje floatanih elemenata */
.row:before,
.row:after,
.column:before,
.column:after,
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.row:after,
.column:after,
.cf:after {
  clear: both;
}

s
.column-1 {width: 8.33%;}
.column-2 {width: 16.66%;}
.column-3 {width: 25%;}
.column-4 {width: 33.33%;}
.column-5 {width: 41.66%;}
.column-6 {width: 50%;}
.column-7 {width: 58.33%;}
.column-8 {width: 66.66%;}
.column-9 {width: 75%;}
.column-10 {width: 83.33%;}
.column-11 {width: 91.66%;}
.column-12 {width: 100%;}


.column {
  margin: 0 auto;
  float: left;


}

.column
{
  padding: 2%
}



.row {
  width: 100%;

  margin: 0 auto;

}
@media only screen and (max-width: 720px) {
  .col {  margin: 1% 0 1% 0%; }
  .column-1 ,.column-2 ,.column-3 ,.column-4 ,.column-5 ,.column-6,.column-7,.column-8,.column-9 ,.column-10 ,.column-11 ,.column-12 { width: 100%; }
}
