<button md-icon-button class="edit" (click)="editToogle()">
  <md-icon>mode_edit</md-icon>
</button>
<md-list *ngIf="!edit">
  <md-list-item>
    <p>Filename: {{music.filename}}</p>
  </md-list-item>
  <md-list-item>
    <p>Location: {{music.location}}</p>
  </md-list-item>
  <md-list-item>
    <p>Type: {{music.type}}</p>
  </md-list-item>
  <md-list-item>
    <p>Size: {{music.size}}</p>
  </md-list-item>
  <md-list-item>
    <p>Date: {{music.date}}</p>
  </md-list-item>
  <md-list-item>
    <p>Artist: {{music.artist}}</p>
  </md-list-item>
  <md-list-item>
    <p>Album: {{music.album}}</p>
  </md-list-item>
  <md-list-item>
    <p>Genre: {{music.genre}}</p>
  </md-list-item>
</md-list>
<md-list *ngIf="edit">
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="inputFilename" mdInput placeholder="File name">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="artist" mdInput placeholder="Artist">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="album" mdInput placeholder="Album">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <input [(ngModel)]="genre" mdInput placeholder="Genre">
    </md-input-container>
  </md-list-item>

</md-list>
<button *ngIf="edit" md-button (click)="update()">Save</button>
<button md-button (click)="close()">Close</button>
