<div [hidden]="uploader">
  <h3  class="mat-h3">Choose file:</h3>
  <input  type="file" name='recfile' (change)="fileChange($event)" placeholder="Upload file" >
  <button md-button (click)="closeDialog()">Close</button>
</div>
<div [hidden]="overrideFileDialog">
  <h3  class="mat-h3">File already exists, do you want to override existing file</h3>
  <button md-button (click)="overrideFile()">Yes</button>
  <button md-button (click)="closeDialog()">No</button>
</div>
<div [hidden]="successDialog">
  <h3  class="mat-h3">You have successfuly uploaded file</h3>
  <button md-button (click)="closeDialog()">Ok</button>
</div>
<div [hidden]="loading">
  <md-spinner></md-spinner>
</div>
