

md-icon{
  font-size:50px;
  height:50px;
  width: 50px;
  padding: 5px;
}

.container{
  margin-top: 8%;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 767px){
  .container{
    margin-top: 15px;
  }

  .container>a{
    margin-top: 15px;

  }
}
