<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="15px"
     fxLayoutGap.xs="15px">
  <a color="primary" fxFlex  md-raised-button routerLink="/music">
    <md-icon>library_music</md-icon>
    <h3>Music</h3>
  </a>
  <a color="primary" fxFlex  md-raised-button routerLink="/videos">
    <md-icon>movie</md-icon>
    <h3>Videos</h3>
  </a>
  <a color="primary" fxFlex md-raised-button routerLink="/pictures">
    <md-icon>collections</md-icon>
    <h3>Pictures</h3>
  </a>
</div>

